@import '@/assets/scss/vars';
@import '@/assets/scss/mixins';

$root: '.cards';
#{$root} {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px 48px;

  @include breakpoint_MaxWidth($bp-1024) {
    grid-template-columns: repeat(3, 1fr);
    gap: 16px 24px;
  }

  @include breakpoint_MaxWidth($bp-768) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include breakpoint_MaxWidth($bp-550) {
    grid-template-columns: repeat(1, 1fr);
  }
}